/TehtavanantoMinimitaso.pdf
/TehtavanantoMinimitaso.pdf:Zone.Identifier
/TehtavanantoPerustaso.pdf
/TehtavanantoPerustaso.pdf:Zone.Identifier
/TehtavanantoTavoitetaso.pdf
/TehtavanantoTavoitetaso.pdf:Zone.Identifier
/testi
/testi.c